<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/global.css">
    <title>footer</title>
</head>
<body>
    <footer class="text-my_black w-11/12 sm:w-full ">
        <div class="bg-gradient-to-l from-my_dark_blue to-my_black h-[350px] w-full flex justify-center items-center flex-col space-y-10">
          <p class="text-2xl md:text-5xl text-white font-extralight">
            START YOUR JOURNEY TODAY
          </p>
    
          <a
            class="bg-white rounded-full text-center text-my_dark_blue px-10  w-2/4 sm:w-auto py-3 font-extralight text-sm sm:text-lg md:text-3xl hover:bg-my_yellow transition-all"
            href=""
          >
            look a fotter
          </a>
        </div>
        <div class="relative z-10 md:h-[750px] w-full flex flex-col justify-center items-center px-4">
          <div class="static md:absolute z-20 md:-top-10 w-[1400px] max-w-full md:max-w-[95%] md:min-h-[600px] shadow-2xl mx-4 bg-white font-extralight flex flex-col md:flex-row px-4 py-16 md:p-16 gap-16">
            <div class="w-full md:w-1/2 flex items-center md:items-start flex-col gap-3">
              
              <a href="/">
                <Image src="" alt="" width={80} height={80} />
              </a>{' '}
              <p class="text-xl">
                xxxxxxxxx
                <br />
                xxxxxxxxx
                <br />
                xxxxxxxxx
              </p>
              <a class="text-xl mb-8 font-medium text-my_yellow" href="">
                xxxxxxxxx
              </a>
              <a
                class="bg-my_dark_blue px-8 py-3 w-fit rounded-full text-white mb-6 hover:bg-my_yellow transition-all"
                href=""
              >
                CONTACT US
              </a>
              <p class="text-sm text-center md:text-start">
                xxxxxxxxx
              </p>
              <p class="text-[9px] text-center md:text-start">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <br />
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <br />
               xxxxxxxxx
                <br />
                xxxxxxxxx
                <br />
                xxxxxxxxx
                <br />
               xxxxxxxxx
              </p>
            </div>
            <div class="w-full  md:w-1/2 flex flex-col md:flex-row justify-between items-center">
              <ul class="flex flex-col items-center md:items-end gap-8">
                <a href="/family-office">Family Office</a>
                <a href="/wealth-management">Wealth Management</a>
                <a href="/family-office/entrepreneurs">Entrepreneurs</a>
                <a href="">CEO Founders</a>
                <a href="">Catalyst</a>
                <a href="">Private Equity Partners</a>
              </ul>
              <ul class="flex flex-col items-center md:items-end  gap-8">
                <a href="/about">About Us</a>
                <a href="/about/cresset-team">Our Team</a>
                <a href="">True Fiduciary®</a>
                <a href="/about/rankings-and-awards">Awards</a>
                <a href="/about/carrers">Careers</a>
                <a href="">Office Locations</a>
              </ul>
            </div>
          </div>
          <div class="flex flex-col md:flex-row items-center font-extralight mt-auto py-4 gap-8  md:gap-20 md:h-[120px]">
            <li class="md:hidden block text-xs">xxxxxxxxx</li>
            <ul class="flex justify-center flex-wrap gap-6 md:text-base text-xs">
              <li class="hidden md:block">xxxxxxxxx</li>
              <a class="hover:text-black transition-all" href="/">
                Terms of Use
              </a>
              <a class="hover:text-black transition-all" href="/">
                xxxxxxxxx
              </a>
              <a class="hover:text-black transition-all" href="/">
                Privacy Policy and CCPA
              </a>
              <a class="hover:text-black transition-all" href="/">
               xxxxxxxxx
              </a>
              <a class="hover:text-black transition-all" href="/">
                xxxxxxxxx
              </a>
            </ul>
            <div class="flex gap-8">
              <Image src="/aedin.png" alt="" width={24} height={24} />
              <Image src="/twitter.png" alt="" width={24} height={24} />
            </div>
          </div>
        </div>
      </footer>
</body>
</html>