<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/global.css">
    <title>content</title>
</head>
<body>
    <section>
    <div class=" flex flex-col items-center px-5 py-8 mx-auto">
        <div class="flex flex-col w-full mb-12 prose text-left">
            <div class="w-full mx-auto">
                <h1>A small headline to switch your visitors into users.</h1>
                <h2>A small headline to switch your visitors into users.</h2>
                <p>Right. Say that again. No, no, George, look, it's just an act, right? Okay, so 9:00 you're strolling through the parking lot, you see us struggling.</p>
            </div>
        </div>
        <div class="flex flex-col items-center py-6 mx-auto mb-2 prose border-b border-gray-200 sm:flex-row lg:w-1/2">
            <div class="inline-flex items-center flex-grow mt-6 text-left sm:mt-0">
                <span class="pr-12 text-xs font-semibold tracking-widest text-blue-600 uppercase hover:text-neutral-600"> Short length headline. </span>
                <span class="ml-auto text-blue-600 hover:text-neutral-600">»</span>
            </div>
        </div>
        <div class="flex flex-col items-center py-6 mx-auto mb-2 border-b border-gray-200 sm:flex-row lg:w-1/2">
            <div class="inline-flex items-center flex-grow mt-6 text-left sm:mt-0">
                <span class="pr-12 text-xs font-semibold tracking-widest text-blue-600 uppercase hover:text-neutral-600"> Short length headline. </span>
                <span class="ml-auto text-blue-600 hover:text-neutral-600">»</span>
            </div>
        </div>
        <div class="flex flex-col items-center py-6 mx-auto mb-2 border-b border-gray-200 sm:flex-row lg:w-1/2">
            <div class="inline-flex items-center flex-grow mt-6 text-left sm:mt-0">
                <span class="pr-12 text-xs font-semibold tracking-widest text-blue-600 uppercase hover:text-neutral-600"> Short length headline. </span>
                <span class="ml-auto text-blue-600 hover:text-neutral-600">»</span>
            </div>
        </div>
    </div>
</section>
</body>
</html>
