<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../style/global.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="md:px-12 lg:px-24 max-w-7xl relative items-center w-full px-5 py-12 mx-auto">
            <div class="lg:mx-auto flex flex-col w-full max-w-lg mb-12 text-center">
                <img alt="testimonial" class="inline-block object-cover object-center w-20 h-20 mx-auto mb-8 rounded-full" src="/assets/images/avatar.png">

                <p class="mx-auto text-base leading-relaxed text-gray-500">Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js.</p>
                <h2 class="mt-4 text-xs font-semibold tracking-widest text-blue-500 uppercase">
            Wicked Labs
            <span href="#" class="lg:mb-0 font-semibold text-gray-200">Acme's HR </span>
                </h2>
            </div>
        </div>
    </section>
</body>
</html>
