<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../css/global.css">
  <title>Document</title>
</head>
<body>
  <section>
      <div class="2xl:max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24 2xl:px-12 px-4 py-12 mx-auto">
        <div class="2xl:max-w-7xl flex flex-wrap items-center mx-auto">
          <div class="lg:flex-grow lg:w-1/2 lg:pr-24 md:mb-0 flex flex-col items-start mb-16 text-left">
            <span class="mb-8 text-xs font-bold tracking-widest text-blue-600 uppercase"> Your tagline </span>
            <h1 class="text-neutral-600 md:text-7xl lg:text-5xl mb-8 text-4xl font-bold leading-none tracking-tighter">Medium length display headline.</h1>
            <p class="mb-8 text-base leading-relaxed text-left text-gray-500">Free and Premium themes, UI Kit's, templates and landing pages built with Tailwind CSS, HTML &amp; Next.js.</p>
            <div class="prose-md prose">
              <ul>
                <li class="text-gray-500">Ain't no sunshine when she's gone.</li>
                <li class="text-gray-500">Expensive feature.</li>
                <li class="text-gray-500">Really good feauture.</li>
              </ul>
            </div>
          </div>
          <div class="lg:w-5/6 lg:max-w-lg rounded-xl xl:mt-0 w-full mt-12">
            <div>
              <div class="relative w-full max-w-lg">
                <div class="bg-violet-300 -left-4 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob absolute top-0 rounded-full"></div>
    
                <div class="bg-fuchsia-300 -bottom-24 right-20 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000 absolute rounded-full"></div>
                <div class="relative">
                  <img class="object-cover object-center mx-auto rounded-lg shadow-2xl" alt="hero" src="/assets/images/placeholders/squareCard.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>
</html>