<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../style/global.css">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="relative">
      <div class="relative flex justify-start">
        <span class="pr-3 text-lg font-medium text-neutral-600 bg-white"> All Issues </span>
      </div>
    </div>
    <div class="space-y-8 lg:divide-y lg:divide-gray-100">
      <div class="pt-8 sm:flex lg:items-end group">
        <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
          <img class="w-full rounded-md h-32 lg:w-32 object-cover" src="/assets/images/placeholders/neon-1.jpg" alt="text">
        </div>
        <div>
          <span class="text-sm text-gray-500">August 20.20.21</span>
          <p class="mt-3 text-lg font-medium leading-6">
            <a href="./blog-post.html" class="text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl">12 Graphic Design Skills You Need To Get Hired (&amp; How to Deve<link rel="stylesheet" href="/src/style/global.css"> Them) </a>
          </p>
          <p class="mt-2 text-lg text-gray-500">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        </div>
      </div>
      <div class="pt-8 sm:flex lg:items-end group">
        <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
          <img class="w-full rounded-md h-32 lg:w-32 object-cover" src="/assets/images/placeholders/neon-3.jpg" alt="text">
        </div>
        <div>
          <span class="text-sm text-gray-500">August 20.20.21</span>
          <p class="mt-3 text-lg font-medium leading-6">
            <a href="./blog-post.html" class="text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl">Meet Now What? The essential new podcast for evolving designers </a>
          </p>
          <p class="mt-2 text-lg text-gray-500">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        </div>
      </div>
      <div class="pt-8 sm:flex lg:items-end group">
        <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
          <img class="w-full rounded-md h-32 lg:w-32 object-cover" src="/assets/images/placeholders/neon-5.jpg" alt="text">
        </div>
        <div>
          <span class="text-sm text-gray-500">August 20.20.21</span>
          <p class="mt-3 text-lg font-medium leading-6">
            <a href="./blog-post.html" class="text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl">B2B Branding: 5 tips to go from boring to extraordinary </a>
          </p>
          <p class="mt-2 text-lg text-gray-500">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        </div>
      </div>
      <div class="pt-8 sm:flex lg:items-end group">
        <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
          <img class="w-full rounded-md h-32 lg:w-32 object-cover" src="/assets/images/placeholders/neon-4.jpg" alt="text">
        </div>
        <div>
          <span class="text-sm text-gray-500">August 20.20.21</span>
          <p class="mt-3 text-lg font-medium leading-6">
            <a href="./blog-post.html" class="text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl">Building a Career in Character Design: A chat with Sarah Beth Morgan </a>
          </p>
          <p class="mt-2 text-lg text-gray-500">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
