<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../style/global.css">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="mx-auto flex w-80 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-gray-400/20">
      <img class="aspect-video w-80 rounded-t-2xl object-cover object-center" src="/assets/images/placeholders/neon-1.jpg">
      <div class="p-6">
        <small class="text-gray-900 text-xs">Category</small>
        <h1 class="text-2xl font-medium text-gray-700 pb-2">Your Heading</h1>
        <p class="text text-gray-500 leading-6">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
      </div>
    </div>
  </section>
</body>
</html>
  